<h1>Listing Projects</h1>

<p>
  <strong>Name:</strong>
  <%=@project.name %>
   <strong>Description:</strong>
  <%=@project.desc %>
   <strong>Estimated Time:</strong>
  <%=@project.estTime %>
</p>

<br><%= link_to 'Back', projects_path %>