<% if current_user %>
<h2>Latest Timestamps</h2>
<table style="width: 100%">
<thead>
<tr>
<th>Projectos</th>
</tr>
</thead>
 
<tbody>
<% @timestamps.each do |timestamp| %>
<tr>
<td><%= link_to timestamp.project, timestamp.horas %></td>
</tr>
<% end %>
</tbody>
</table>
 
<% else %>
<div class="panel">
<h1>Share your timestamps!</h1>
<p>A simple app to track and share your project timestamps with others.</p>
<%= link_to "Get started today", new_user_registration_path, :class => "button button-large" %>
</div>
 
<hr>
 
<div class="row">
<div class="large-8 columns">
<h3></h3>
<p>
</p>
<p><a class="" href="" target="_blank">Learn more</a>.</p>
</div>
<div class="large-4 columns">
<h3>About this app</h3>
<p>--- </p>
</div>
</div>
<% end %>
